@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: #a4c3b2;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.card-img img {
  height: 250px;
  width: 300px;
  border: 2px solid black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #344e41;
  max-width: 1000px;
  max-height: 255px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f0efeb;
  border-radius: 10px;
  color: #344e41;
  box-shadow: 0 1.4rem 6rem rgba(0, 0, 0, 0.4);
}

.rest-info {
  margin-left: 90px;
}

.location-city {
  font-size: 23px;
}

.location-address {
  font-size: 25px;
}

.name {
  font-size: 30px;
}

.menu:visited {
  max-width: 50px;
  text-align: center;
  font-size: 25px;
  color: #344e41;
  background-color: transparent;
}
a:link {
  color: #344e41;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #344e41;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #344e41;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #344e41;
  background-color: transparent;
  text-decoration: underline;
}
.cuisine {
  font-size: 25px;
}
.cost {
  font-size: 25px;
}

.search-cuisines {
  margin: 0 auto;
  width: 40%;
  border: 3px solid #344e41;

  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;

  display: flex;
  font-size: 30px;
  color: #344e41;
  text-align: center;
  margin-top: 20px;
}
.title {
  font-size: 80px;
  color: black;
  /* justify-content: center; */
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  color: #344e41;
}

.btn {
  text-align: center;
  margin-top: 30px;
}

.search-btn {
  height: 40px;
  width: 80px;
  margin: 0 auto;
  font-size: 20px;
  /* margin-top: 20px; */

  color: #344e41;
  border: 2px solid #344e41;
  border-radius: 5px;
}
