body {
  background-color: #f3e9d2;
  position: relative;
}

.card-img img {
  height: 200px;
  width: 300px;
  border: 2px solid black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #bc8a5f;
  max-width: 1000px;
  max-height: 300px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #f0efeb;
  border-radius: 10px;
  color: #6b421e;
}

.rest-info {
  margin-left: 90px;
}

.location-city {
  font-size: 25px;
}

.location-address {
  font-size: 20px;
}

.menu {
  background-color: blanchedalmond;
  max-width: 50px;
  text-align: center;
  font-size: 20px;
}

.cuisine {
  font-size: 20px;
}

.search-cuisines {
  margin: 0 auto;
  width: 70%;
  border: 3px solid #6b421e;

  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;

  display: flex;
  font-size: 30px;
  color: #6b421e;
  text-align: center;
}
.title {
  font-size: 80px;
  text-align: center;
  color: #8b5e34;
}
.btn {
  text-align: center;
  margin-bottom: 60px;
}

.search-btn {
  height: 40px;
  width: 80px;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 20px;

  color: #6b421e;
  border: 2px solid #6b421e;
  border-radius: 5px;
}
